body {
    background: #FFF;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
    line-height: 1;
}

h1 small {
    color: #ab2a2a;
    width: 100%;
    margin: 0;
    font-size: 35px;
}

h2 {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
    text-transform: lowercase;
}

h3 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    margin-top: 40px;
    text-transform: lowercase;
}

p {
    width: 960px;
    margin: 40px auto;
    color: #000;
    line-height: 200%;
}

a, a:visited {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

section {
    position: relative;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 80px;
}

.sobre{
    background-color: #348fd4;
}


.proposta{
    background-color: #06406c;
}

.convite{
    background-color: #FFF;
}

.faca-parte{
    color: #5b0303
}


#btn-telegram{
    margin-top: 20px;
    padding: 2px ;
    border-radius: 4px ;
    letter-spacing: 1px;
    font-weight: bolder;
}

#btn-telegram:hover {
    background: #ab2a2a;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Light" ;
}








